@media screen and (max-width: 720px) {
    body {
        background-image: url(../res/background_m.png);
    }

    h1 {
        font-size: 128px;
    }

    .lead {
        font-size: 40px;
        top: 150px;
    }

    .box {
        width: 650px;
        height: 650px;
    }

    .box h2 {
        margin: 0 0 100px;
        font-size: 48px;
    }

    .box .inputBox input {
        font-size: 32px;
        height: 42px;
    }

    .box input[type="submit"] {
        padding: 10px 80px;
        font-size: 42px;
    }

    .box input[type="checkbox"] {
        transform: scale(2);
    }

    .box span {
        font-size: 25px;
        top: 2px;
    }

    .reg {
        margin-left: 71%;
        bottom: 0px;
    }

    .inputText {
        font-size: 32px;
    }

    #under {
        height: 96px;
    }

    span.gh {
        font-size: 28px;
    }

    span.vk {
        font-size: 28px;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    a {
        top: 22px;
    }

    .container {
        margin: 80px auto 60px;
        width: 650px;
    }

    h3 {
        font-size: 28px;
    }

    li > label {
        font-size: 24px;
    }

    .material-icons {
        font-size: 32px;
    }

    input#new-task {
        width: 545px;
    }

    .data {
        font-size: 32px;
        bottom: 12px;
    }

    #loadImg {
        top: 88%;
        left: 48%;
        transform: scale(2);
    }

    #notification {
        left: 40%;
        top: 95%;
        transform: scale(2);
    }

    #message {
        font-size: 32px;
    }
}